
.container { padding-top: 10px; }

.container > section { padding-top: 30px; }

#header nav { text-align: right; }


.horizontalList { margin: 0; list-style: none; }
.horizontalList li { display: inline; margin: 0 10px 0 0; padding: 0 10px 0 0; }

.horizontalLink { margin: 0; list-style: none; }
.horizontalLink li { display: inline; margin: 0 10px 0 0; padding: 0 10px 0 0; border-right: 1px solid #ccc; }
.horizontalLink li:last-child { margin: 0; padding: 0; border: none; }

button.btn[type='submit'] { display: block; }
