module.exports = {
  app: {
    port: 4000,
    host: 'localhost:4000'
  },

  benchmarker: {
    port: 5000,
    host: 'localhost:5000'
  },

  supportedFileTypes: [
    'js'
  ],

  githubOauth: {
    clientId: 'githubAppClientId',
    secret: 'githubAppSecret'
  }
};
