<form method="post" action="/api/user" class="well">
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="_id" value="<%= id %>" />
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="email" value="<%= email %>" />

<% /*
  <label for="handle">Username</label>
  <input id="handle" type="text" name="handle" placeholder="username" value="<%= handle %>" />
*/ %>

  <div class="form-actions">
    <button type="submit" name="update" class="btn update">Submit change</button>
    <button type="submit" name="delete" class="btn btn-danger delete">Delete</button>
  </div>
</form>
